

#settings {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background: rgba(89, 114, 151, 0.404);
  color: white;
}

#settings > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 20%;
}
/* 
#settings > div > *:last-child {
  flex: 1
} */

#resolution {
  flex: 1;
}



#resolution input {
  width: 100%;
}